@import url(component.css);
@import url(base.css);

.app{
    max-width: 1200px;
    margin: 0 auto;
}

header,.row,footer{
    width: 95%;
    height: fit-content;
    margin: 0 auto;
}

.header-menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.header-menu nav ul li{
    display: inline-block;
    margin: 0 25px;
}

.header-menu nav ul li a{
    font-size: 25px;
    font-weight: 500;
}

.top-menu-button{
    background-color: #ffff;
    border: none;
    display: none;
}

.top-menu-button i{
    font-size: 30px;
}

.top-article > section > article{
    margin: 5px;
    position: relative;
}

.top-article{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: fit-content;
}

.top-article .first-column{
    width: 65%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.top-article .second-column{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.top-article .first-column .slider{
    width: calc(50% - 10px);
    height: 200px;
}

.top-article .second-column .slider{
    width: calc(100% - 10px);
    height: 200px;
}

.top-article article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-article #banner{
    width: calc(100% - 10px);
    height: 410px;
}

.slider .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 10;
}

.black-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}

.slider a{
    color: #ffff;
}

.slider .article-info-container .article-info{
    color: #ffff;
}

.slider .article-info-container .article-info-icons span{
    color: #ffff;
}

.row{
    display: flex;
    flex-direction: row;
}

main{
    width: calc(65% - 50px);
    margin-left: 50px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 35%;
}

.coin-price-list ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F9AA00;
    margin-bottom: 5px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
}

.side-bar-news-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-bar-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.side-bar-item img{
    margin-left: 20px;

}

.side-bar-item .container{
    width: calc(100% -110px);
}

.crypto-news{
    display: flex;
    flex-direction: column;
}

.crypto-news-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.crypto-news-item{
    width: 48%;
    height: fit-content;
}

.crypto-news-item img{ 
    height: 250px;
}

.feed-form{
    display: flex;
    height: 35px;
}

.feed-input input{
    width: calc(85% - 18px);
    height: 35px;
    border: 2px solid #F9AA00;
    font-size: 20px;
    padding-right: 10px;
}

.feed-input button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 39px;
    background-color: #F9AA00;
    border: 0;
    font-size: 20px;
    margin-right: 0px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    background-image: url(../image/map.png);
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #171717;
    opacity: .9;
    z-index: 1;
}

.footer-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-bottom: 2px solid #282828;
    padding-bottom: 10px;
    z-index: 2;
}

.footer-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(80% - 50px);
    margin-top: 30px;
    margin-right: 50px;
}

.post-list-column{
    width: calc(50% - 25px);
}

.footer-post section:first-child{
    margin-left: 50px;
}

.footer-title{
    font-size: 20px;
    font-weight: bold;
    color: #F9AA00;
    margin: 20px 0;
    display: block;
}

.footer-post-item{
    margin-bottom: 10px;
    width: 100%;
}

.footer-post-item:first-of-type{
    border-bottom: 2px solid #282828;
    padding-bottom: 10px;
}

.footer-post-item .article-title a{
    color: #ffffff;
}

.footer-about-us{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer-menu{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 2;
}

.footer-menu nav{
    display: flex;
    width: 50%;
}

.footer-nav{
    justify-content: flex-end;
}

.footer-social-media{
    justify-content: flex-start;
}

.footer-menu nav ul li{
    display: inline-block;
    margin-right: 30px;
}

.footer-nav ul li a{
    color: #ffffff;
}

.footer-social-media ul li a i{
    font-size: 25px;
}

.footer-social-media ul li a i:hover{
    font-size: 27px;
    color: #F9AA00;
}

@media (max-width:1199.99px){
    .app{
        width: 992px;
    }
}

@media (max-width:991.98px){
    .app{
        width: 768px;
    }

    .logo-img{
        height: 15px;
    }

    .header-menu nav ul li{
        margin: 0 15px;
    }
}

@media (max-width:767.99px){

    .app{
        width: 576px;
    }

    .header-menu{
        flex-wrap: wrap;
    }

    .top-menu-nav{
        width: 100%;
        display: none;
    }

    .header-menu nav ul li{
        display: block;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .top-menu-button{
        display: inline-block;
    }

    .top-article > div > article{
        margin: 5px;
        position: relative;
    }
    
    .top-article{
        flex-direction: column;
    }
    
    .top-article .first-column{
        width: 100%;
        flex-direction: column;
    }
    
    .top-article .second-column{
        width: 100%;
    }
    
    .top-article .first-column .slider{
        width: calc(100% - 10px);
        height: 250px;
    }
    
    .top-article .second-column .slider{
        width: calc(100% - 10px);
        height: 250px;
    }
        
    .top-article #banner{
        width: calc(100% - 10px);
    }

    .row{
        flex-direction: column;
    }
    
    main{
        width: 100%;
        margin-left: 0;
    }

    .crypto-news{
        flex-direction: column;
    }
    
    .crypto-news-item-container{
        flex-direction: column;
    }
    
    .crypto-news-item{
        width: 100%;
        margin-bottom: 30px;
    }

    .crypto-news-item img{
        height: 300px;
    }
    
    aside{
        width: 100%;
    }
            
    .side-bar-item{
        align-items: center;
    }
    
    .footer-content{
        flex-direction: column;
        align-items: center;
        border: none;
    }
    
    .footer-post{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0;
    }
    
    .post-list-column{
        width: 100%;
    }
    
    .footer-post section:first-child{
        margin-left: 0;
    }
    
    .footer-about-us{
        align-items: center;
        width: 100%;
    }

    .footer-about-us .text{
        width: 60%;
    }
    
    .footer-menu{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    
    .footer-menu nav{
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }
                            
}

@media (max-width:575.99px){
    .app{
        width: 95%;
    }
}







